<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
   <div id="wrapper" style="margin-top: 51px">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <% if user_signed_in? %>
              <h5>Chatrooms</h5>
              <ul>
                <% current_user.chatrooms.each do |chatroom|  %>
                  <li><%= link_to chatroom.name, chatroom %></li>
                  <% end %>
              </ul>
            <% end %>  
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-11">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </body>
</html>
